<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>Habit Hive</title>
        <link rel="stylesheet" href="../style.css">
    </head>

    <body>
        <div class="habit" id="home">
            <div class="habit__container">
                <h1 class="habit__heading">Habit <span>Hive</span></h1>
                <p class="habit__description">Pave the way for the better you</p>
                <button class="main__btn"><a href="habits.html">try it now!</a></button>
            </div>
        </div>
    </body>
</html>
    
